{% load i18n %}

<div class="header">
	<div class="menubar">
		<ul>
			<li><a href="/configurator">Продукция</a></li>
			<li><a href="/sales">Где купить</a></li>
			<li><a href="/support">Поддержка</a></li>
			<li><a href="/company">О компании</a></li>
		</ul>
	</div>

	<div class="logo">
		<a href="/"><img src="/img/design/logo.png" alt="ETegro logo"/></a>
	</div>
	<div class="lang">
		<a href="/sales">+7 (495) 380-02-88</a>
	</div>
</div>

<div class="footer">
	<a href="/company">ЗАО&#160;ЕТегро&#160;Текнолоджис</a>,
	<a href="/sales">Москва, ул. Электродная, 2, стр. 12-13-14</a>
	Тел./факс:&#160;+7&#160;(495)&#160;380-02-88
</div>
